<style>
	h4 {
		padding-left: 20px;
		font-weight: bold;
		font-size: 3em;
	}
	h3 {
		padding-left: 20px;
		font-weight: bold;
		font-size: 2em;
	}
	p {
		padding-left: 30px;
		padding-right: 10px;
	}
</style>
<h4>Finance Options</h4>
<h3>Convenient Payment Options</h3>
<p>Dental treatment is an excellent investment in an individual's medical and psychological well being.  Financial considerations should not be an obstacle to obtaining this important health service.  Being sensitive to the fact that different people have different needs in fulfilling their financial obligations, we are providing the following payment options.</p>
<p><strong>Flexible Monthly Payment Option</strong></p>
<p>With our convenient payment plan administered by CareCredit, you can have the smile of your dreams today.  CareCredit, the nation's leading patient payment program enables you to finance 100% of your dental care with <strong>NO money down, NO interest,</strong> no upfront costs, no annual fees, and no pre-payment penalties. So, begin your treatment TODAY!
</p>
<%= link_to image_tag("care_credit.gif"), 'http://www.carecredit.com/apply/landing.html', :style => "float: left; padding-left: 30px; padding-right:10px;" %>
<p>Care Credit can be used by the entire family for ongoing treatment without having to reapply.  Care Credit offers a comprehensive range of plan options, for treatment or procedure fees from $1 to over $25,000, and it only takes a few minutes to apply for CareCredit.  To learn more about CareCredit, call 1-800-839-9078, or visit their web site at <%= link_to("www.CareCredit.com") %></p>
<p><strong>Payment in Full</strong> - Ask about our 5% courtesy discount for payment in full at the start of treatment for procedures over $1000.</p>
<p><strong>We Accept Visa, Master Card, American Express, and Discover.</strong></p>
<p><%= image_tag("visa.gif")%><%= image_tag("master.gif")%><%= image_tag("american.gif")%><%= image_tag("discover.gif")%></p>
<p><strong>Patients Who Have Dental Insurance</strong> - We welcome dental insurance and SoonerCare. We will be happy to answer all of your questions and call your insurance provider to verify benefits.</p>
<p><strong>As a courtesy to you, we are happy to bill your insurance company for you.</strong></p>